<% include ../newheader %>

<% title = 'Settings' %>
<!--<% sub_title = 'Artist List' %>-->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1><%= title %></h1>
      <ol class="breadcrumb">
        <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active"><%= title %></li>
      </ol>
    </section>
    
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <a href="index" title="refresh"><i class="fa fa-refresh page_refresh_icon" ></i></a>  
              <!-- <a href="create" class="btn btn-success create_new_button" >Add New</a> -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                
              <table id="users-table" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Option Name</th>
                    <th>Option Value</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <% if(datalist.length > 0){ %>
                        <% datalist.forEach(function(data, key){ %>
                          <tr>
                            <td><%= data.settingKey %></td>
                            <td><%= data.settingValue %></td>
                            <td>
                                
                                <a class="useraccess_update" href="/admin/<%= controller %>/update?settingId=<%=data.settingId%>" style="cursor:pointer;"><i class="fa fa-pencil "></i></a>
                                
                            </td>
                          </tr>
                        <% }); %>
                      <% }else{ %>
                          <tr>
                              <td colspan="2">no data found</td>
                          </tr>
                      <% } %>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<% include ../new_footer %>